.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked~.container__rotulo {
    background: var(--cor-gradiente);
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}


.lista-menu__titulo {
    color: var(--cor-titulo);
    font-weight: 700;
}


.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__link {
    background: var(--cor-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
}

.container__imagem {
    padding: 1em;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        margin: auto 2em;
    }

    .container__rotulo {
        display: none;
    }

    .container__titulo,
    .container__titulo-negrito {
        display: inline;
        font-family: var(--fonte-titulo);
        padding-left: 0.3em;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 2em;
        text-transform: uppercase;
    }

    .opcoes__link {
        color: var(--cor-preto);
        text-decoration: none;
    }

    .opcoes__menu {
        display: none;
    }

    .opcoes__menu:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--cor-gradiente);
        color: var(--cor-branco);
    }

    .opcoes__item {
        padding: 1.5em 1em;
        margin: 0 1em;
    }

    .opcoes__menu:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .imagem-transparente {
        display: none;
    }

    .lista-menu {
        margin: 0 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-gradiente);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1360px) {

    .opcoes {
        margin-right: auto;
    }

    .container__link {
        display: flex;
        align-items: center;
        margin: 0 1em;
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__texto{
        display: block;
    }
}